* {
	padding: 0;
	margin: 0;
}
@font-face {
    font-family: 'Montserrat-Regular'; /* Имя шрифта */
    src: url(fonts/Montserrat-Regular.ttf); /* Путь к файлу со шрифтом */
   }
body {
	font-family: 'Montserrat-Regular', sans-serif;
}
a {
	text-decoration: none;
	color: white;
}
header {
	background: url(img/bcg.png) no-repeat;
	height: 100%;
	max-height: 770px;
	padding-bottom: 260px;
}
.wrapper {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}
.logo_nav_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1140px;
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
}
.menu  {
	display: flex;
	justify-content: space-around;
	width: 100%;
	max-width: 600px;
}
.wellcome {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	color: white;
	margin-top: 220px;
}
h3 {
	margin-top: 20px;
}
.header_button {
	display: inline-block;
	font-family: 'Montserrat-Regular', sans-serif;
	width: 180px;
	height: 50px;
	background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
}
span {
	color: #fc635e;
}
.our_service {
	color: 	#868686;
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	margin-top: 50px;
}
hr {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 30px;
}
.our_service_description {
	width: 530px;
	color: #adadad;
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}
.icons {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}
.colomn1, .colomn2, .colomn3, img {
	height: 100px;
	width: 115px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}	
.colomn1, .colomn2, .colomn3 {
	width: 150px;
}
.description {
	color: 	#fc635e;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

}


